body{
  margin: 0%;
  padding: 0%;
}
.container{
  display: flex;
  height: calc(100vh);
  width: calc(100vw);
}
.left{
  width: 100%;
  height: 100%;
  background-image: url(./bg-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}
.form-title{
  font-size: 1.9em;
  font-family: sans-serif;
}
.right-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.all-field{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.all-field input{
  height:80px;
  border-radius: 10px;
  border: 1px solid rgb(211, 211, 211);
  margin-bottom:10px ;
  padding: 0 26px;
  font-size: 18px;
  color: #555;
}
#other-options{
  display: flex;
  width: 100%;
  justify-content: space-between;

}
#login-btn{
  height: 50px;
  width: 100%;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: blueviolet;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}
#login-btn:hover{
    transition: 0.5s;
    background-color: cadetblue;
}